<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PermusClient.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <PermusClient.MySettings>
            <setting name="serverUrl" serializeAs="String">
                <value>https://localhost:44360/ </value>
            </setting>
            <setting name="localDbConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="lastUserCertificate" serializeAs="String">
                <value />
            </setting>
            <setting name="BlockMasterPollingTimerIntervalSeconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="test" serializeAs="String">
                <value>https://localhost:44360/  http://213.251.184.127:4080/permus/</value>
            </setting>
            <setting name="DEBUG_autoaccetta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEBUG_autoproponi" serializeAs="String">
                <value>False</value>
            </setting>
        </PermusClient.MySettings>
    </userSettings>
</configuration>
