<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PermusClient.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PermusClient.MySettings>
            <setting name="serverUrl" serializeAs="String">
                <value>http://www.pardesca.it:4080/permus/</value>
            </setting>
            <setting name="localDbConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="lastUserCertificate" serializeAs="String">
                <value />
            </setting>
            <setting name="BlockMasterPollingTimerIntervalSeconds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="test" serializeAs="String">
                <value>https://localhost:44360/  http://213.251.184.127:4080/permus/</value>
            </setting>
            <setting name="DEBUG_autoaccetta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEBUG_autoproponi" serializeAs="String">
                <value>False</value>
            </setting>
        </PermusClient.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
